.App {
  text-align: center;
}

h1 {
  font-family: "Times New Roman", Times, serif;
}

button {
  width: 100px;
  height: 30px;
  margin: 0px 40px;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  border: 2px solid green;
  z-index: 1;
}

button:disabled {
  background: none;
}

button:hover {
  background: green;
}

.app-view {
  position: relative;
  height: 1000px;
  width: 1200px;
  margin: auto;
}

p {
  font-family: "Times New Roman", Times, serif;
  margin: auto;
  padding: 45px;
}