.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.board {
  display: table;
  height: 810px;
  width: 810px;
  margin: auto;
  border: 2px solid black;
  border-collapse: collapse;
  background-color: greenyellow;
}

.boardRow {
  display: table-row;
  height: 90px;
  border: 2px solid black;
  border-collapse: collapse;
}

.boardCell {
  display: table-cell;
  width: 90px;
  border: 2px solid black;
  border-collapse: collapse;
}

.boardRow:first-child {
  border-top: 5px solid black;
}

.boardRow:nth-child(3n) {
  border-bottom: 5px solid black;
}

.boardCell:first-child {
  border-left: 5px solid black;
}

.boardCell:nth-child(3n) {
  border-right: 5px solid black;
}

table {
  position: absolute;
  height: 90px;
  width: 90px;
}

tr {
  height: 26px;
}

th {
  width: 26px;
}

.value {
  display: block;
  width: 85px;
  height: 85px;
  position: absolute;
  font-size: 60px;
}
