.App {
  text-align: center;
}

.board {
  display: table;
  height: 675px;
  width: 675px;
  margin: auto;
  border: 2px solid black;
  border-collapse: collapse;
}

.boardRow {
  display: table-row;
  border: 2px solid black;
  border-collapse: collapse;
}

.boardCell {
  height: 75px;
  width: 75px;
  position: relative;
  display: table-cell;
  border: 2px solid black;
  border-collapse: collapse;
}

.boardRow:first-child {
  border-top: 5px solid black;
}

.boardRow:nth-child(3n) {
  border-bottom: 5px solid black;
}

.boardCell:first-child {
  border-left: 5px solid black;
}

.boardCell:nth-child(3n) {
  border-right: 5px solid black;
}

table {
  position: absolute;
  z-index: -1;
}

th {
  height: 20px;
  width: 20px;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
}

input[type=number] {
  position:absolute;
  left: 0;
  height: 74px;
  width: 69px;
  background: none;
  font-size: 40px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  border:none;
}

/*from https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]:disabled {
  color: black;
}

button {
  width: 125px;
  height: 30px;
  margin: 10px 50px;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  border: 2px solid green;
}

button:disabled {
  background: none;
}

button:hover {
  background: green;
}

h1 {
  font-family: "Times New Roman", Times, serif;
}