.board {
    display: table;
    height: 810px;
    width: 810px;
    margin: auto;
    border: 2px solid black;
    border-collapse: collapse;
    background-color: greenyellow;
}

.boardRow {
    display: table-row;
    height: 90px;
    border: 2px solid black;
    border-collapse: collapse;
}

.boardCell {
    display: table-cell;
    width: 90px;
    border: 2px solid black;
    border-collapse: collapse;
}

.boardRow:first-child {
    border-top: 5px solid black;
}

.boardRow:nth-child(3n) {
    border-bottom: 5px solid black;
}

.boardCell:first-child {
    border-left: 5px solid black;
}

.boardCell:nth-child(3n) {
    border-right: 5px solid black;
}